#chatBlock { display: none }

#messagesBlock { float: left }
#messagesBlock form { float: left }

#messages { float: left; overflow-y: scroll; width: 65%; height: 350px; padding: 5px; border: 1px solid gray; }

#usersBlock { float: right; width: 20%; }

.color0 { color: gray; }
.color1 { color: black; }
.color2 { color: red; }
.color3 { color: blue; }
.color4 { color: green; }

table.form { border: 0px; padding: 5px; }


